* {
    box-sizing: border-box;
}

:root {
    --course-item-gap: 30px;
    --purple: #783df0;
    --red: #b80257;
    --blackMin: rgba(0, 0, 0, 0.05);
    --black1: rgba(0, 0, 0, 0.1);
    --black2: rgba(0, 0, 0, 0.2);
    --black5: rgba(0, 0, 0, 0.5);
    --black6: rgba(0, 0, 0, 0.6);
    --black7: rgba(0, 0, 0, 0.7);
    --black8: rgba(0, 0, 0, 0.8);
    --black9: rgba(0, 0, 0, 0.9);
    --silver: rgb(247, 249, 251);
    --contact-form-input-gap: 28px;
    --product-item-gap: 30px;
    --footer-item-gap: 25px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans 3", sans-serif;
    color: var(--black7);
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: "PT Sans", sans-serif;
}

a,
button {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

input:focus::placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}

.banner {
    width: 100%;
    height: 496.609px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    /* position: fixed;
    top: 0; */
}

.banner-contact {
    background-image: url("https://themazine.com/html/scholars-lms/images/home/banner-7.jpg");
}

.banner-shop {
    background-image: url("https://themazine.com/html/scholars-lms/images/home/banner-10.jpg");
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: fixed;
    background-color: var(--black6);
    width: 100%;
}

.header .logo {
    margin-right: 68px;
    padding-left: 3px;
}

.nav {
    font-weight: 400px;
    color: white;
    font-weight: 700;
    display: flex;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.nav__item {
    padding: 9px 25px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
}

.header-action {
    padding-top: 6px;
    padding-left: 20px;
    gap: 25px;
    display: flex;
    color: white;
}

.header-action__item {
    font-size: 1.9rem;
    cursor: pointer;
    position: relative;
}

.banner-title {
    flex: 1;
    background-color: var(--black6);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    gap: 15px;
}

.banner-title__heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-breadcrumb {
    display: flex;
    gap: 5px;
    padding-bottom: 27px;
}
.banner-breadcrumb__item:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.banner-breadcrumb__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 100px;
    background-color: white;
}

.contact-main {
    display: flex;
    gap: 30px;
}

.paging {
    display: flex;
    gap: 20px;
}

.page-list {
    display: flex;
    gap: 10px;
}

.page-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600;
    border-radius: 8px;
    padding: 0 9.7px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.page-item:first-child,
.page-item:hover {
    border-color: var(--purple);
    color: var(--purple);
}

.page-btn {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    background-color: var(--purple);
    color: white;
    border-radius: 8px;
    font-weight: 600;
}

.footer {
    width: 100%;
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 150px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
    gap: var(--footer-item-gap);
}

.footer-wrapper {
    background-color: rgb(21, 21, 21);
}

.footer-scholars {
    flex: 3.2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-scholars__description {
    font-size: 1.4rem;
}

.footer-app {
    display: flex;
    margin-top: 10px;
}

.footer-app__item {
    flex: 1;
}
.footer-app__img {
    object-fit: cover;
}

.footer-nav {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-nav__title,
.footer-subscribe__title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 25px;
}

.footer-nav__item {
    line-height: 2;
}

.footer-nav__item--active:hover {
    color: var(--red);
}

.footer-subscribe {
    flex: 3.2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subscribe-form__input {
    width: 100%;
    padding: 13px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(39, 39, 39);
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:focus {
    outline: none;
}

.subscribe-form__btn {
    display: block;
    margin-top: 12px;
    background-color: rgb(184, 2, 87);
    border-radius: 30px;
    padding: 10px 28px;
    color: white;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.subscribe-form__btn--active:hover {
    color: var(--red);
    background-color: white;
    transition-duration: 0.3s;
}

.subnav {
    position: absolute;
    display: flex;
    width: 220px;
    top: 100%;
    left: -8%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--black7);
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 100;
}
.subnav__item {
    padding: 15px 18px;
}

.subnav__item--active:hover {
    background-color: var(--red);
    color: white;
    padding-left: 23px;
    transition: all 0.4s ease-in-out;
}

.subnav__item:not(:last-child) {
    border-bottom: 1px solid var(--blackMin);
}

.contact-main__left {
    flex: 7;
    background-image: url("https://themazine.com/html/scholars-lms/images/inner-page/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.contact-main__right {
    flex: 5;
    background-image: url("https://themazine.com/html/scholars-lms/images/inner-page/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 600px;
}

.contact-info {
    background-color: rgba(119, 60, 238, 0.85);
    height: 100%;
    padding: 60px 0 92px 70px;
    color: white;
}

.contact-info__heading {
    font-size: 3rem;
    font-weight: 400;
}

.contact-info__heading::after {
    content: "";
    margin-top: 18px;
    height: 2px;
    width: 95px;
    display: block;
    background-color: rgb(242, 182, 4);
}

.contact-info__list {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 78px;
}

.contact-info__item {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    font-size: 2.4rem;
    font-weight: 600;
}

.contact-form {
    margin-top: 100px;
    display: flex;
    gap: var(--contact-form-input-gap);
    width: 100%;
    flex-wrap: wrap;
}

.contact-form__input {
    background-color: rgb(243, 240, 250);
    border: none;
    padding: 0px 20px;
    color: var(--black7);
    font-size: 1.5rem;
}

.contact-form__input--medium {
    width: calc((100% - var(--contact-form-input-gap)) / 2);
    height: 70px;
}

.contact-form__input--large {
    height: 400px;
    outline: none;
    padding-top: 35px;
    width: 100%;
}

.contact-form__btn {
    width: 150px;
    height: 45px;
    color: white;
    background-color: var(--purple);
    border: none;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.contact-form__btn--active:hover {
    background-color: var(--red);
    cursor: pointer;
}

.contact-map {
    margin-bottom: 100px;
}

.header-action__item:has(#header-search-icon:checked)
    .header-action-form-search {
    display: flex;
}

.header-action-form-search {
    position: absolute;
    z-index: 100;
    padding: 5px;
    height: 55px;
    width: 280px;
    bottom: -45px;
    right: -25px;

    background-color: white;
    display: none;
}

.header-action-form-search-input {
    flex: 8;
    border: 1px solid rgb(236, 236, 236);
}

.header-action-form-search-btn {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border: none;
}

.main-layout {
    display: flex;
    gap: 30px;
}

.shop-sidebar {
    width: 270px;
}

.shop-category-wrapper {
    margin-top: 63px;
}

.shop-main {
    flex: 1;
}

.shop-sidebar-form {
    display: flex;
    height: 45px;
}

.shop-sidebar-form input {
    width: 170px;
    background-color: rgb(238, 238, 238);
    border: none;
    padding-left: 10px;
}

.shop-sidebar-form input::placeholder {
    font-style: italic;
}

.shop-sidebar-form button {
    flex: 1;
    color: white;
    background-color: var(--red);
    border: none;
}

.shop-category-title {
    font-size: 2.4rem;
    font-weight: 700;
}
.shop-category-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.shop-category-item {
    font-size: 1.5rem;
    color: var(--black7);
}

.shop-popular-wrapper {
    margin-top: 65px;
}

.shop-popular-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.shop-popular-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.shop-popular-item {
    display: flex;
}

.shop-popular-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

.shop-popular-info-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--black7);
    cursor: pointer;
}

.shop-popular-info-title:hover {
    color: var(--red);
}

.shop-popular-info-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black7);
}

.shop-main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-main-head .filter {
    width: 200px;
    height: 45px;
    color: var(--black7);
    font-size: 1.5rem;
    border: 1px solid var(--black1);
    line-height: 45px;
    padding-left: 15px;
}

.shop-main-head .filter span::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: baseline;
    border: 2px solid var(--black5);
    border-top-color: transparent;
    border-left-color: transparent;
    margin-left: 80px;
    margin-bottom: 4px;
    rotate: 45deg;
}

.shop-main-head .search-result {
    color: var(--black7);
    font-size: 1.8rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--product-item-gap);
    margin-top: 65px;
}

.product-item {
    display: flex;
    width: calc((100% - 2 * var(--product-item-gap)) / 3);
    flex-direction: column;
}

.product-item .text {
    height: 180px;
    border: 1px solid var(--black1);
    text-align: center;
}

.product-title {
    margin-top: 35px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #242222;
}

.product-price {
    display: block;
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black8);
}

.product-btn {
    margin-top: 24px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
}

.shop-paging {
    display: flex;
    margin-top: 95px;
    gap: 15px;
    justify-content: center;
}

.shop-page-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    background-color: var(--red);
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.shop-page-item:last-child {
    padding-top: 2px;
    margin-left: 10px;
}

.header-menu__icon {
    display: none;
}

.nav__dropdown {
    display: none;
}

@media (max-width: 992px) {
    .header .logo {
        margin-right: 12px;
        padding-left: 0;
    }

    .nav__item {
        padding: 9px 16px;
    }
    .main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .product-item {
        width: calc((100% - var(--product-item-gap)) / 2);
    }
    .footer-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-app {
        flex-direction: column;
        padding-right: 80px;
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .banner-title {
        margin-top: 80px;
    }
    .header-menu__icon {
        margin-top: 100px;
        display: block;
        color: white;
        font-size: 2.5rem;

        cursor: pointer;
    }
    .header {
        justify-content: space-between;
        padding: 0 24px;
        padding-top: 45px;
    }
    .header .nav {
        display: none;
    }

    .header-menu {
        position: absolute;
        bottom: -40px;
        left: 20px;
    }

    .header:has(#header-menu__input:checked) .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 93%;
        top: 172%;
        background-color: black;
        color: white;
    }
    .nav__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .nav__link {
        padding: 15px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        width: 92.3%;
    }
    .nav__dropdown {
        padding: 15px 3px;
        display: block;
        width: 7.7%;
        text-align: center;
    }

    .nav__item:has(.nav__dropdown input:checked) .subnav {
        position: static;
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }
    .subnav {
        width: 100%;
        left: 0;
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer-scholars {
        flex: 0;
        flex-basis: calc((100% - var(--footer-item-gap) * 2) / 2);
    }
    .footer-nav {
        flex: 0;
        flex-basis: calc((100% - var(--footer-item-gap) * 2) / 4);
    }

    .footer-nav:nth-of-type(4) {
        flex: 0;
        flex-basis: calc((100% - var(--footer-item-gap) * 2) / 2);
    }
    .footer-app {
        flex-direction: row;
        flex: 1;
        gap: 10px;
    }
    .main-layout {
        flex-direction: column;
    }
    .shop-sidebar {
        order: 2;
        width: 100%;
    }
    .shop-main {
        order: 1;
    }
    .shop-paging {
        margin-top: 60px;
    }
    .shop-sidebar-form input {
        width: 80%;
    }

    .footer {
        flex-direction: column;
    }
}
